ipydagred3
ipykernel
ipympl
ipyregulartable
IPython
ipywidgets
jupyterlab
jupyterlab_iframe
jupyterlab-nbconvert-nocode
matplotlib
mplfinance
nbresuse
pandas
polygon-api-client
plotly
pyarrow
requests
scikit-learn
scipy
seaborn
statsmodels
tributary
vapeplot
